<h1><%= "#{@user.name}さんのブログ一覧"%></h1>

<% @user.blogs.each do |blog| %>
  <p><%= blog.created_at.strftime("%F") %></p>
  <p><%= link_to blog.title, blog_path(blog) %></p>
<% end %>

<p>
  <%= link_to "トップページへ", blogs_path %>
</p>
